* {
     margin:0;
     padding: 0;
}
html,body{
    height: 100%;
}
body {
  font: 16px Georgia, serif;
}
#page-wrap{
    margin: 2% auto;
    color: #ffffff;
}
#page-wrap > .main{
    border: 1px solid #999999;
    padding: 1%;
    margin-bottom: 1px;
    color: #000000;
}
section > div{
    padding: 20px;
}
header, nav, section, footer{
    background: #eeeeee;
    text-align: center;
}
nav span {
    margin:0px 10px 0px 0px;
}
#ErrorMsgs{
    color: #f61;
    font-size: smaler;		
}
